{% extends "header.html" %}
{% block content %}

<h2>{{playlist.name}}</h2><br>
<a href="{{url_for('addSong', playlist_id=playlist_id)}}">Add a song</a><br><br>   

{% for song in songs %}
<div class="border song">
    <h2><a href="{{url_for('viewSong', playlist_id=playlist_id, song_id=song.id)}}">{{song.title}}</a></h2>
    <p><a href="{{url_for('editSong', playlist_id=playlist_id, song_id=song.id)}}">edit</a>
       <a href="{{url_for('deleteSong', playlist_id=playlist_id, song_id=song.id)}}">delete</a>
   </p>
  
</div>
{% endfor %}
<br><br>
<a href="{{url_for('mainPage')}}">Go back</a>

{% endblock %}